@font-face {
  font-family: digital7;
  src: url(./digital-7/digital-7.ttf);
}
@font-face {
  font-family: digital7 Mono;
  src: url(./digital-7/digital-7-mono.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: digital7;
  font-weight: bold;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecb365;
}
.calculator {
  width: 340px;
  height: 500px;
  background-color: #064663;
  border: 2px solid #eee;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2), -5px -5px 20px #fffb;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.calculator #value {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  background-color: #eee;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset 5px 5px 10px rgba(79, 79, 79, 0.5),
    inset -5px -5px 10px rgba(79, 79, 79, 0.5);
  color: hsl(231, 62%, 58%);
  user-select: none;
  overflow: none;
  padding: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border: 2px solid #edf1f4;
  overflow: hidden;
}
.calculator #value .storedValue {
  color: hsl(231, 62%, 78%);
  font-size: 1.5rem;
  overflow: hidden;
}
.calculator #value .value {
  font-size: 2.5rem;
  overflow: hidden;
}
.buttons {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.buttons .btn {
  font-size: 1.5rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  color: #666;
  border: 2px solid #edf1f4;
}
.buttons .btn:hover:not(.AC, .plus, .equal) {
  background-color: hsl(0, 0%, 90%);
}
.buttons .btn:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10x rgb(182, 180, 180);
  color: hsl(0, 84%, 68%);
}
.buttons .btn.AC {
  background-color: hsl(0, 84%, 68%);
  color: #fff;
  grid-column: 1 / 3;
}
.buttons .btn.AC:hover {
  background-color: hsl(0, 84%, 63%);
}

.buttons .btn.plus {
  background-color: hsl(197, 97%, 40%);
  color: #fff;
}
.buttons .btn.plus:hover {
  background-color: hsl(197, 97%, 40%);
  color: #fff;
}

.buttons .btn.equal {
  background-color: hsl(115, 72%, 62%);
  color: #fff;
  grid-row: 5 / 6;
  grid-column: 3 / 5;
  font-size: 2rem;
}
.buttons .btn.equal:hover {
  background-color: hsl(115, 72%, 50%);
}
.buttons .btn.plus:active,
.buttons .btn.equal:active,
.buttons .btn.AC:active {
  color: hsl(206, 24%, 88%);
}
